
/* --- FADR-ANDROID-SETTINGS --- */

@charset "UTF-8";

@font-size: 18px;

@settings-section-width: 200px;
@slider-track-height : 20px;
@slider-thumb-size : 30px;

@import "../style/base.less";
@import "../style/settings.less";

/*
input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1.3,1.3);
}
*/

.slider {
    margin-bottom: 20px;
}
.slider .title {
    float: left;
    margin-right: 5px;
}

#gui {
    text-align: center;
    padding: 80px 30px 30px 30px;
}

#settings-toggle {
    position: fixed;
    top: 14px;
    left: 14px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.15s;
}

#settings {
    text-align: left;
    max-width: 600px;
    display: none;
    //top: 120px;
}

/*
#settings #title {
    position: fixed;
    bottom: 10px;
    right: 10px;
    max-height: 16px;
}
*/
