
/* --- FADR-ANDROID-SETTINGS --- */

@charset "UTF-8";

@font-size: 18px;

@settings-section-width: 200px;
@slider-track-height : 20px;
@slider-thumb-size : 30px;

@import "../style/mixins.less";
@import "../style/base.less";
@import "../style/settings.less";

/*
#settings-toggle {
    position: relative;
    top: 10px;
    left: 10px;
    max-width: 36px;
}
*/


.slider {
    margin-bottom: 20px;
}
.slider .title {
    float: left;
    margin-right: 5px;
}

#gui {
    text-align: center;
    padding: 30px;
}

#settings {
    text-align: left;
    max-width: 600px;
}
