build/
TODO.md
_*
data/*.png
data/fadr-android/assets/
data/fadr-android/bin/
data/fadr-android/gen/
data/fadr-android/*.keystore
data/fadr-android/local.properties
data/fadr-android/NOTES.md
data/fadr-android/release.sh
