
/* --- FADR-SETTINGS --- */

input {
    
    outline: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
input[type=range] {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    padding: @slider-thumb-size/2 0px 0px 0px;
    align-self: center;

    outline: none;
    background: transparent;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    height: @slider-track-height;

    border-top: 1px solid #fff;
}
input[type=range]::-webkit-slider-thumb {

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: relative;
    top: -@slider-thumb-size/2;
    width: @slider-thumb-size;
    height: @slider-thumb-size;

    background: #fff;
    border-radius: @slider-thumb-size/2;
}

#settings {
    text-transform: uppercase;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
