
/* --- FADR-SETTINGS --- */

input {
    outline: none;
    .no-select;
}
input[type=range] {
   .no-appearance;
   .no-select;
   width: 100%;
   padding: @slider-thumb-size/2 0px 0px 0px;
   align-self: center;
   outline: none;
   background: transparent;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	.no-appearance;
    height: @slider-track-height;
    border-top: 1px solid #fff;
}
input[type=range]::-webkit-slider-thumb {
	.no-appearance;
    background: #fff;
    position: relative;
    width: @slider-thumb-size;
    height: @slider-thumb-size;
    top: -@slider-thumb-size/2;
    border-radius: @slider-thumb-size/2;
}

#settings {
    position: fixed;
    text-transform: uppercase;
    cursor: default;
    .no-select;
}


/*
div.select {
    margin-bottom: 10px;
}
div.select span:first-child {
    margin-right: 5px;
}
div.select span.option {
    text-decoration: line-through;
    cursor: pointer;
}
div.select span.option.selected {
    text-decoration: none;
}
div.select span.option:not(:nth-child(2)):before {
    content: "/";
}
div.select span:last-child {
    margin-left: 5px;
}
*/
